/* universal options */
/** {*/
  /*box-sizing: border-box;*/
/*}*/

/* typography */

/* layout */
body {
  background-color: #000000;
  font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
}

#content {
  background-color: #ffffff;
  padding: 20px;
}

#header {
  color: #ffffff;
}

#header h3 {
  font-weight: bolder;
}

footer {
  margin: 10px 0 0 0;
  color: white;
  text-align: center;
}
