{% extends "blog/base.html" %}

{% block title %}Archive: {{ start|date:"d M Y" }} to {{ end|date:"d M Y" }} | Blog | {{ block.super }}{% endblock%}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{% url "blog-post-index" %}">Blog</a> <span class="divider">/</span></li>
  <li class="active">Archive: {{ start|date:"d M Y" }} to {{ end|date:"d M Y" }}</li>
</ul>
{% endblock %}

{% block content %}
<div id="content" class="row-fluid">
    <div class="span9">
        <h3>Blog Archive: {{ start|date:"d M Y" }} to {{ end|date:"d M Y" }}</h3>
        {% for item in latest %}
        <article class="news-item">
            <h4 class="title"><a href="{% url "blog-post-item" slug=item.slug %}">{{ item.title }}</a></h4>
            <div class="meta">{{ item.date_publish|date:"F j, Y" }}</div>
            <div class="text">
                <p>{{ item.excerpt|safe }}</p>
            </div>
        </article>
        {% endfor %}
        <div class="pagination pagination-small pagination-centered">
            <ul>
                {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">previous</a></li>
                {% else %}
                <li class="disabled"><span>previous</span></li>
                {% endif %}

                <li class="active"><span>{{ posts.number }}</span></li>

                {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">next</a></li>
                {% else %}
                <li class="disabled"><span>next</span></li>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="span3">
        <ul class="nav nav-list">
        {% if archive_dates|length > 0%}
            <li class="nav-header">Archive Dates</li>
            {% for date in archive_dates %}
            <li{% if date.month == start.month and date.year == start.year %} class="active"{% endif %}><a href="{% url "blog-date-archive" month=date|date:"m" year=date|date:"Y" %}">{{ date|date:"M Y" }}</a></li>
            {% endfor %}
            <li class="nav-header">Categories</li>
            {% for tmp in categories %}
            <li{% if category.slug == tmp.slug %} class="active"{% endif %}><a href="{% url "blog-category-archive" slug=tmp.slug %}">{{ tmp.title }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
