<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %} Stuff I say {% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}blog/css/style.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Part 1: Wrap all page content here -->
        <div id="wrap">

            <!-- Begin page content -->
            <div class="container">
                <div id="header" >
                  {% if user.is_staff %}
                  <ul class="nav nav-pills pull-right">
                      <li{% if "/" == request.get_full_path %} class="active"{% endif %}><a href="/">Home</a></li>
                      <li{% if "/blog" == request.get_full_path %} class="active"{% endif %}><a href="/blog">Blog</a></li>
                  </ul>
                  {% endif %}
                  <h3>Tombomation</h3>
                </div>
                {% block breadcrumb %}{% endblock %}
                {% block content %}{% endblock%}
            </div>
        </div>

        <!-- javascript -->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
