{% extends "blog/base.html" %}

{% block title %}Blog | {{ block.super }}{% endblock%}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">{{ post.title }}</li>
</ul>
{% endblock %}

{% block content %}
<div id="content" class="row-fluid">
    <div class="span9">
      <h3>{{ post.title }}</h3>
      <article class="news-item">
        <div class="meta">{{ post.date_publish|date:"F j, Y" }}</div>
        <p>{{ post.content_markup|safe }}</p>
        <p class="meta">
        {% for category in post.categories.all %}
        <a class="btn" href="{% url "blog-category-archive" slug=category.slug %}">{{ category.title  }}</a>
        {% endfor %}
        </p>
      </article>
{% endblock %}
